USE [testscursnetcore]
GO
/****** Object:  Table [dbo].[Bank]    Script Date: 7/11/2023 1:34:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bank](
	[IDBank] [int] IDENTITY(1,1) NOT NULL,
	[NameBank] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Bank] PRIMARY KEY CLUSTERED 
(
	[IDBank] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 7/11/2023 1:34:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[IDCustomer] [int] IDENTITY(1,1) NOT NULL,
	[NameCustomer] [nvarchar](100) NOT NULL,
	[IDBank] [int] NOT NULL,
	[CurrentAmount] [int] NOT NULL,
	[CreditAmount] [int] NULL,
	[DepositAmount] [int] NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[IDCustomer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bank] ON 

INSERT [dbo].[Bank] ([IDBank], [NameBank]) VALUES (1, N'BCR')
INSERT [dbo].[Bank] ([IDBank], [NameBank]) VALUES (2, N'Banca Transilvania')
INSERT [dbo].[Bank] ([IDBank], [NameBank]) VALUES (3, N'BRD')
SET IDENTITY_INSERT [dbo].[Bank] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([IDCustomer], [NameCustomer], [IDBank], [CurrentAmount], [CreditAmount], [DepositAmount]) VALUES (2, N'Customer1', 2, 54000, 12000, 500)
INSERT [dbo].[Customer] ([IDCustomer], [NameCustomer], [IDBank], [CurrentAmount], [CreditAmount], [DepositAmount]) VALUES (3, N'Customer1', 10, 0, 5000, NULL)
INSERT [dbo].[Customer] ([IDCustomer], [NameCustomer], [IDBank], [CurrentAmount], [CreditAmount], [DepositAmount]) VALUES (4, N'Customer2', 10, 98, 25000, 54000)
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Bank] FOREIGN KEY([IDBank])
REFERENCES [dbo].[Bank] ([IDBank])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_Bank]
GO
